@import "../../../../../../sass/globals";

#resident-form-float {
    display: flex;
    flex-flow: column;
    gap: 20px;

    transform: translateY(100%);

    padding: 30px;

    width: 50%;
    min-width: 675px;
    height: 80%;
    min-height: 760px;

    background-color: white;
    box-shadow: 0px 0px 4px 2px rgba(53, 121, 96, 0.2);

    opacity: 0;
    visibility: hidden;

    pointer-events: all;

    transition: transform 0.3s,
                opacity 0.3s,
                visibility 0s 0.3s;

    .inputs-container {

        display: grid;
        grid-template-columns: 200px 1fr;
        // grid-template-rows: repeat( 4, 1fr);
        // grid-template-rows: 118px 118px;
        gap: 30px;

        span {
            display: block;

            font-family: $inter;
            font-size: 16px;
            font-weight: 500;
        }

        input[type=text], input[type=number], input[type=email], select, input[type=date] {
            padding: 14px;

            width: 200px;
            height: fit-content;

            outline: none;
            border: none;
            border-radius: 5px;
            background-color: rgb(240, 244, 248);
            font-family: $inter;
            font-weight: 600;

            &::placeholder {
                font-family: $inter;
            }
        }

        &__left {
            display: flex;
            flex-flow: column;
            gap: 20px;

            .inputs-name-container {
                display: flex;
                flex-flow: column;
                gap: 10px;
    
                grid-row: 1 / 3;
    
                width: fit-content;
            }

            .inputs-contact-container {
                display: flex;
                flex-flow: column;
                gap: 10px;
            }

            .inputs-religion-container {
                display: flex;
                flex-flow: column;
                gap: 10px;
            }
        }
        
        &__right {
            display: flex;
            flex-flow: column;
            gap: 20px;

            .inputs-birthdate-container {
    
                width: fit-content;
    
                .inputs-birthdate-wrapper {
                    margin-top: 10px;
    
                    display: flex;
                    flex-wrap: wrap;
                    gap: 10px;

                    #birthdate {
                        width: 100%;
                        font-family: $inter;
                        // border-right: 14px solid rgb(240, 244, 248);
                    }
                    #birthplace {
                        width: 100%;
                    }
                }
            }

            .inputs-gender-container , .inputs-voter-container {
                display: flex;
                flex-flow: column;
                gap: 20px;

                margin-bottom: 10px;
    
                .inputs-gender-wrapper, .inputs-voter-wrapper {
    
                    label {
                        padding: 10px;
    
                        font-family: $inter;
                        font-size: 12px;
                        font-weight: 500;
    
                        background-color: rgb(240, 244, 248);
                        
                        transition: background-color 0.2s,
                                    color 0.2s;
    
                        &:nth-of-type(1) {
                            padding-left: 15px;
                            border-top-left-radius: 5px;
                            border-bottom-left-radius: 5px;
                        }
                        
                        &:nth-of-type(2) {
                            padding-right: 15px;
                            border-top-right-radius: 5px;
                            border-bottom-right-radius: 5px;
                        }
                    }
                    input[type=radio] {
                        display: none;
        
                        &:checked + label {
                            background-color: $active-background;
                            color: white;
                            &:nth-of-type(2) {
                                background-color: rgb(231, 120, 120);
                            }
                        }
                    }
                }
    
            }
        }

        .inputs-location-container {
            display: flex;
            flex-flow: column;
            gap: 10px;

            // grid-column: 1/3;

            #address-input {
                width: 380px;
                width: 100%;
            }

            .inputs-location-wrapper {
                display: flex;
                gap: 10px;

                input {
                    width: 50%;
                }
            }
        }
    }

    .form-float-buttons-container {
        position: relative;
        display: flex;
        gap: 20px;

        margin-top: auto;
        
        button {
            padding: 10px;
            padding-left: 15px;
            padding-right: 15px;

            border: none;
            border-radius: 40px;
            font-family: $inter;
            font-weight: 600;

            transition: background-color 0.2s,
                        transform 0.2s;

            &:hover {
                transform: translateY(-4px);
            }
            
            &:active {
                transform: translateY(0px);
            }

            &.form-float-submit {
                &:hover {
                    background-color: rgb(122, 199, 227);
                }
            }

            &.form-float-reset {
                margin-left: auto;

                &:hover {
                    background-color: rgb(227, 122, 122);
                }
            }

            &.form-float-cancel {
                &:hover {
                    background-color: rgb(227, 122, 122);
                }
            }
        }

    }

    &.show {
        transform: translateY(0%);

        opacity:  1;
        visibility: visible;

        transition: transform 0.3s,
                    opacity 0.3s;
    }
}