@import "./../../../sass/globals";

#login-page {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 40px;

    padding: 50px;
    // border-radius: 10px;

    // min-height: 100%;
    width: fit-content;
    height: fit-content;

    background-color: white;
    background-color: transparent;
    color: $default-color;

    header {
        display: flex;
        flex-flow: column;
        align-items: center;
        gap: 30px;

        font-family: $inrioSerif;

        h1 {
            display: flex;
            flex-flow: column;
            align-items: center;
            gap: 10px;
            span {
                font-size: 20px;
            }
        }
    }

    main {
        display: flex;
        flex-flow: column;
        align-items: center;
        gap: 40px;

        span {
            font-family: $inter;
            font-weight: 700;
            font-size: 24px;
        }

        #login-form {
            display: flex;
            flex-flow: column;
            align-items: center;
            gap: 26px;

            input {
                width: 340px;

                outline: none;
                border: none;
                border-radius: 5px;
                padding: 20px;

                font-size: 13px;
                font-weight: 500;
                font-family: $inter;

                background-color: #F0F4F8;

                box-shadow: 0px 0px 6px 2px transparent;
                
                transition: box-shadow 0.2s;

                &::placeholder {
                    font-family: $inter;
                    font-weight: 700;
                }

                &.err {
                    box-shadow: 0px 0px 2px 2px rgb(255, 122, 122);
                }
            }

            #login-btn {
                width: fit-content;
                padding: 20px;
                padding-top: 14px;
                padding-bottom: 14px;
                margin-top: 10px;

                border: none;
                border-radius: 5px;

                color: $default-color;
                font-family: $inter;
                font-weight: 700;
                font-size: 16px;

                transition: background-color 0.2s,
                            color 0.2s;

                &:hover {
                    color: white;
                    background-color: $hover-background;
                }
                
                &:active {
                    color: white;
                    background-color: $active-background;
                }
            }
        }
    }

}