@import "../../../sass/globals";

.main-nav-btn-dd {
    position: relative;

    display: flex;
    align-items: center;
    gap: 15px;

    width: 100%;
    min-width: 44px;
    min-height: 44px;
    padding: 10px;
    padding-top: 34px;

    outline: none;
    border: none;
    border-radius: 5px;

    background-color: transparent;

    font-family: $inter;
    font-weight: 700;

    user-select: none;
    cursor: pointer;

    transition: background-color 0.2s,
                color 0.2s;

    summary {
        position: absolute;
        top: 0;
        left: 0;

        display: flex;
        align-items: center;
        gap: 10px;

        width: 100%;
        padding: 10px;

        user-select: none;

        &::marker {
            content: "";
        }

        &::after {
            content: "";

            margin-left: auto;

            width: 24px;
            height: 24px;

            background-color: transparent;
            background-image: url("../../../resource/svg/arrowhead.svg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: 40%;

            transition: opacity 0.2s 0.2s,
                        visibility 0s 0.2s,
                        transform 0.2s;
        }

        img {
            width: 24px;
            height: 24px;
    
            background-color: black;
        }
    
        span {
            font-size: 14px;
            opacity: 1;
            visibility: visible;
    
            transition: opacity 0.2s 0.2s,
                        visibility 0s 0.2s;
        }
    }

    &[open] {
        padding-top: 54px;

        summary {
            &::after {
                transform: rotate(90deg);
            }
        }
    }


    &.collapse {
        width: fit-content;
        gap: 0;
        border-radius: 50%;

        summary {
            gap: 0;

            span {
                width: 0;
                opacity: 0;
                visibility: hidden;
    
                transition: none;
            }

            &::after {
                opacity: 0;
                visibility: hidden;
                position: absolute;

                transition: transform 0.2s;
            }
        }

    }

    &:hover {
        background-color: #6F94A9;
        color: white;
    }
}