@import "../../../../../sass/globals";

.tab-button {
    width: fit-content;
    height: fit-content;

    input[type=radio] {
        display: none;
    }

    label {
        display: inline-block;

        width: fit-content;
        height: fit-content;
        padding: 6px 12px 6px 12px;

        background-color: rgba(128, 128, 128, 0.2);
        font-family: $inter;
        font-weight: 500;
        font-size: 14px;

        transition: color 0.2s,
                    background-color 0.2s;

        &:hover {
            color: white;
            background-color: #6F94A9;
        }
    }

    input[type=radio] {
        display: none;

        &:checked + label {
            background-color: #80C8F0;
            color: white;
            border-bottom: 2px solid gray;
            transform: translateY(-2px);
        }
    }
    
}