.App {
  width: 100vw;
  height: 100vh;
  max-height: 100vh;

  overflow-y: auto;

  background-image: url("municipality-of-tuy_header-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}