@import "./sass/globals";

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: $inter;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}